<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/output.css" rel="stylesheet">
        <title>How Popular is Your Anime Taste?</title>
    </head>
    <body class="bg-slate-950 flex flex-col items-center justify-center min-h-screen">
        {% block content %}
            <div class="max-w-[60rem] space-y-6">
                <h1 class="text-white text-center font-bold text-6xl pt-6">{{ taste_message }}</h1>
                <div class="grid grid-cols-2 gap-4 pt-6">
                    <h3 class="text-white text-center font-semibold text-xl">
                        Your scores differ by <span class="text-fuchsia-400 fonharshert-bold text-xl">{{ avg_score_diff }}</span> points compared to the average AniList user!
                    </h3>
                    {% if true_score_diff >= 0 %}
                        <h3 class="text-white text-center font-semibold text-xl">
                            Specifically, you tend to be more positive! You score anime <span class="text-fuchsia-400 font-bold text-xl">{{ true_score_diff }}</span> points higher than the average user<span class="text-fuchsia-400 font-bold text-xl">ヽ(*・ω・)ﾉ</span>
                        </h3>
                    {% else %}
                        <h3 class="text-white text-center font-semibold text-xl">
                            Specifically, you tend to give more negative scores ・`ω´・. On average, you score anime {{ true_score_diff }} points lower than the average AniList user!
                        </h3>
                    {% endif %}
                    <div>
                        <h2>Your Most Popular Take</h2>
                        <img class="max-h-[38rem]"
                             src="{{ image2 }}"
                             alt="popular anime cover image">
                        <h3>{{ title_min }}</h3>
                        <p class="text-white font-semibold text-l">
                            Your Score: {{ u_score_min }}
                            <br>
                            AniList Average: {{ avg_score_min }}
                        </p>
                    </div>
                    <div>
                        <h2>Your Most Unpopular Take</h2>
                        <img class="max-h-[38rem] "
                             src="{{ image1 }}"
                             alt="unpopular anime cover image">
                        <h3 class="caption">{{ title_max }}</h3>
                        <p class="text-white font-semibold text-l">
                            Your Score: {{ u_score_max }}
                            <br>
                            AniList Average: {{ avg_score_max }}
                        </p>
                    </div>
                </div>
                <form class="pt-10" action="{{ url_for("home") }}">
                    <button class="w-1/2 bg-fuchsia-700 hover:bg-fuchsia-800 text-white font-bold py-2 px-4 rounded">Return Home</button>
                </form>
            </div>
        {% endblock content %}
    </body>
</html>
