<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/output.css" rel="stylesheet">
        <title>How Popular is Your Anime Taste?</title>
    </head>
    <body>
        <section>
            {% block content %}
                <h1>{{ taste_message }}</h1>
            </section>
            <section>
                <h3>Your scores differ by {{ avg_score_diff }} points compared to the average AniList user...</h3>
            </section>
            <section>
                <h3>{{ true_score_diff_msg }} ({{ true_score_diff }})</h3>
            </section>
            <section>
                <div>
                    <div>
                        <h2>Your Most Popular Take</h2>
                        <img src="{{ image2 }}" alt="popular anime cover image">
                        <h3>{{ title_min }}</h3>
                        <p>
                            Your Score: {{ u_score_min }}
                            <br>
                            AniList Average: {{ avg_score_min }}
                        </p>
                    </div>
                    <div>
                        <h2>Your Most Unpopular Take</h2>
                        <img src="{{ image1 }}" alt="unpopular anime cover image">
                        <h3 class="caption">{{ title_max }}</h3>
                        <p>
                            Your Score: {{ u_score_max }}
                            <br>
                            AniList Average: {{ avg_score_max }}
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <form action="{{ url_for("home") }}">
                    <button>Return Home</button>
                </form>
            </section>
        {% endblock content %}
    </body>
</html>
