<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/output.css" rel="stylesheet">
        <script type="text/javascript"
                src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script>
            $(document).ready(function() {
                function loading() {
                    $(".loader").show();
                    $("section").hide();
                }
                $("form").submit(function() {
                    loading();
                });
            });
        </script>
        <title>How Popular is Your Anime Taste?</title>
        <link rel="icon" type="image/x-icon" href="./static/favicon.ico">
    </head>
    <body>
        <div class="loader" style="display: none;"></div>
        <section>
            <h1>Have you ever wondered how controversial your anime taste is?</h1>
        </section>
        <section>
            <h3>Find out by entering your AniList username below:</h3>
            <form method="POST" action="/">
                <input type="text" aria-label="username-text-input" name="username" required>
                <input type="submit" value="Submit" onclick="loading();">
            </form>
        </section>
    </body>
</html>
