<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/output.css" rel="stylesheet">
        <script src="../static/fadein.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
              rel="stylesheet">
        <title>How Popular is Your Anime Taste?</title>
    </head>
    <body class="bg-base-100 flex flex-col items-center justify-center min-h-screen font-dm-sans font-normal scroll-smooth fade-in">
        {% block content %}
            <!--Main-->
            <div class="w-full max-w-4xl px-4 sm:px-6 lg:px-8 space-y-8">
                <div class="min-h-screen flex flex-col justify-center">
                    <div class="hero p-4 sm:p-8 bg-neutral rounded border border-secondary">
                        <div class="hero-content flex-col lg:flex-row">
                            {% if avg_score_diff >= 20 %}
                                <h1 class="text-primary text-center lg:text-left font-medium text-3xl sm:text-5xl lg:text-6xl mb-4">
                                    Huh. Are you trying to be controversial or something?
                                </h1>
                            {% elif avg_score_diff >= 15 %}
                                <h1 class="text-primary text-center lg:text-left font-medium text-3xl sm:text-5xl lg:text-6xl mb-4">
                                    You have very unpopular taste!
                                </h1>
                            {% elif avg_score_diff >= 10 %}
                                <h1 class="text-primary text-center lg:text-left font-medium text-3xl sm:text-5xl lg:text-6xl mb-4">
                                    You have goldilocks taste! Not too popular, not too unpopular.
                                </h1>
                            {% elif avg_score_diff >= 5 %}
                                <h1 class="text-primary text-center lg:text-left font-medium text-3xl sm:text-5xl lg:text-6xl mb-4">
                                    You have very popular taste!
                                </h1>
                            {% elif avg_score_diff < 5 %}
                                <h1 class="text-primary text-center lg:text-left font-medium text-3xl sm:text-5xl lg:text-6xl mb-4">
                                    You ARE the Anilist average.
                                </h1>
                            {% else %}
                                <h1 class="text-primary text-center lg:text-left font-medium text-3xl sm:text-5xl lg:text-6xl mb-4">
                                    I have no words.
                                </h1>
                            {% endif %}
                            <div class="divider lg:divider-horizontal"></div>
                            <div class="flex flex-col space-y-4">
                                <h3 class="text-white text-center lg:text-left text-xl sm:text-2xl lg:text-3xl">
                                    Your scores differ by <span class="text-primary font-semibold">{{ avg_score_diff }}</span> points compared to the average AniList user!
                                </h3>
                                <div class="divider"></div>
                                {% if true_score_diff >= 0 %}
                                    <h3 class="text-white text-center lg:text-left text-xl sm:text-2xl lg:text-3xl">
                                        Specifically, you tend to be more positive,
                                        scoring anime <span class="text-primary font-semibold">{{ true_score_diff }}</span> points higher on average!
                                    </h3>
                                {% else %}
                                    <h3 class="text-white text-center lg:text-left text-xl sm:text-2xl lg:text-3xl">
                                        Specifically, you tend to be more negative, scoring anime <span class="text-primary font-medium">{{ true_score_diff }}</span> points lower on average!
                                    </h3>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!--Plot-->
                <div class="flex flex-col w-full min-h-screen justify-center">
                    <div class="hero p-4 sm:p-8 bg-neutral rounded border border-secondary">
                        <div class="hero-content flex-col w-full">
                            <h1 class="text-primary font-medium text-2xl sm:text-4xl lg:text-5xl mb-4 text-center">
                                Your Scores vs. the Anilist Average
                            </h1>
                            <div class="divider"></div>
                            <div class="w-full">
                                {% autoescape off %}
                                    {{ plot }}
                                {% endautoescape %}
                            </div>
                        </div>
                    </div>
                </div>
                <!--Takes-->
                <div class="flex flex-col min-h-screen justify-center">
                    <div class="hero p-4 sm:p-8 bg-neutral rounded border border-secondary">
                        <div class="hero-content flex-col lg:flex-row">
                            <!--Most Popular-->
                            <div class="flex flex-col items-center text-center mb-8 lg:mb-0 lg:mr-8">
                                <div class="card bg-base-100 image-full">
                                    <figure>
                                        <img src="{{ image2 }}"
                                             alt="most popular take cover image"
                                             class="w-full h-auto">
                                    </figure>
                                    <div class="card-body">
                                        <h2 class="card-title text-primary text-2xl sm:text-3xl lg:text-4xl">Your Most Popular Take...</h2>
                                        <div class="divider"></div>
                                        <p class="text-primary text-lg sm:text-xl">{{ title_min }}</p>
                                        <div class="card-actions justify-end">
                                            <p class="text-sm sm:text-base">
                                                Your Score: <span class="text-primary">{{ u_score_min }}</span>
                                                <br>
                                                AniList Average: <span class="text-primary">{{ avg_score_min }}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Least Popular-->
                            <div class="flex flex-col items-center text-center">
                                <div class="card bg-neutral image-full">
                                    <figure>
                                        <img src="{{ image1 }}"
                                             alt="most unpopular take cover image"
                                             class="w-full h-auto">
                                    </figure>
                                    <div class="card-body">
                                        <h2 class="card-title text-primary text-2xl sm:text-3xl lg:text-4xl">Your Most Unpopular Take...</h2>
                                        <div class="divider"></div>
                                        <p class="text-primary text-lg sm:text-xl">{{ title_max }}</p>
                                        <div class="card-actions justify-end">
                                            <p class="text-sm sm:text-base">
                                                Your Score: <span class="text-primary">{{ u_score_max }}</span>
                                                <br>
                                                AniList Average: <span class="text-primary">{{ avg_score_max }}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="flex justify-center pb-4" href="{{ url_for("home") }}">
                    <button class="btn btn-outline btn-secondary text-base">Return Home</button>
                </a>
            </div>
        {% endblock content %}
    </body>
</html>
