<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/output.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
              rel="stylesheet">
        <title>How Popular is Your Anime Taste?</title>
        <style>
            .fade-in {
                opacity: 0;
                transition: opacity 2s ease-in-out;
            }
            .fade-in.visible {
                opacity: 1;
            }
        </style>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                function loading() {
                    document.querySelector(".loader").style.display = "block";
                    document.querySelectorAll(".content").forEach(function(el) {
                        el.style.display = "none";
                    });
                }

                document.querySelector("form").addEventListener('submit', function() {
                    loading();
                });

                setTimeout(function() {
                    document.querySelectorAll('.fade-in').forEach(function(el) {
                        el.classList.add('visible');
                    });
                }, 100);
            });
        </script>
    </head>
    <body class="bg-base-100 flex flex-col items-center justify-center min-h-screen font-dm-sans font-medium">
        <div class="loading loading-infinity loading-lg loader"
             style="display: none"></div>
        <div class="text-center max-w-7xl fade-in content">
            <h1 class="text-primary text-4xl font-bold">Have you ever wondered how controversial your anime taste is?</h1>
            <div class="divider divider-primary"></div>
        </div>
        <div class="text-center px-4 max-w-[38rem] w-full fade-in content">
            <h3 class="prose text-white text-2xl mb-3">Find out by entering your AniList username below...</h3>
            <form class="flex flex-col items-center justify-center space-y-2"
                  method="POST"
                  action="/">
                <input class="input input-secondary input-bordered w-full text-white"
                       type="text"
                       aria-label="username-text-input"
                       name="username"
                       required>
                <input class="w-full btn btn-outline btn-secondary text-white text-base"
                       type="submit"
                       value="Submit">
            </form>
        </div>
    </body>
</html>
