<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/output.css" rel="stylesheet">
        <script src="../static/fadein.js"></script>
        <script src="../static/loader.js"></script>
        <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
              rel="stylesheet">
        <title>How Popular is Your Anime Taste?</title>
    </head>
    <body class="bg-base-100 flex flex-col items-center justify-center min-h-screen font-dm-sans font-medium p-4">
        <div class="loading loading-infinity loading-lg loader"
             style="display: none"></div>
        <div class="text-center w-full max-w-xl fade-in content">
            <h1 class="text-primary text-2xl sm:text-3xl md:text-4xl font-bold mb-6">
                Have you ever wondered how controversial your anime taste is?
            </h1>
            <div class="divider divider-primary mb-6"></div>
            <h3 class="text-white text-lg sm:text-xl md:text-2xl mb-6">Find out by entering your AniList username below...</h3>
            <form class="flex flex-col items-center justify-center space-y-4"
                  method="POST"
                  action="/">
                <input class="input input-secondary input-bordered w-full text-white text-lg"
                       type="text"
                       aria-label="username-text-input"
                       name="username"
                       placeholder="Your AniList username"
                       required>
                <button class="w-full btn btn-outline btn-secondary text-lg" type="submit">Submit</button>
            </form>
        </div>
        <div class="relative w-full h-full pt-[5rem] lg:w-[36rem]">
            <div class="absolute inset-x-0 bottom-0 text-center text-primary text-lg sm:text-xl md:text-2xl">
                Join the <span class="text-accent">{{ user_count }}</span> users who have already seen their hottest anime takes!
            </div>
        </div>
    </body>
</html>
